<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns 	= "http://www.w3.org/ns/widgets"
    xmlns:gap 	= "http://phonegap.com/ns/1.0"
    id        	= "com.phonegap.example"
	versionCode = "10"
    version   	= "1.0.0">

<name>Mobile Web Application</name>

<description>
A simple PhoneGap Build application.
</description>

<!--                     Icons                     -->

<icon src="icon.png" />

<!--  Android  -->
<icon src="icons/android/drawable-ldpi/ic_launcher.png" gap:platform="android" gap:density="ldpi" />
<icon src="icons/android/drawable-mdpi/ic_launcher.png" gap:platform="android" gap:density="mdpi" />
<icon src="icons/android/drawable-hdpi/ic_launcher.png" gap:platform="android" gap:density="hdpi" />
<icon src="icons/android/drawable-xhdpi/ic_launcher.png" gap:platform="android" gap:density="xhdpi" />

<!--  iOS  -->
<icon src="icons/ios/icon.png" gap:platform="ios" width="57" height="57" />
<icon src="icons/ios/icon-72.png" gap:platform="ios" width="72" height="72" />
<icon src="icons/ios/icon@2x.png" gap:platform="ios" width="114" height="114" />
<!-- retina iPad support: PhoneGap 2.5.0+ only -->
<icon src="icons/ios/icon-72@2x.png" gap:platform="ios" width="144" height="144" />

<!--  Windows  -->
<icon src="icons/winphone/icon.png" gap:platform="winphone" />


<!--                Splash Screens                -->

<gap:splash src="splash.png" />

<!--  iOS  -->

<!--  Android  -->
<gap:splash src="splash/android/drawable-ldpi/portrait.png" gap:platform="android" gap:density="ldpi" />
<gap:splash src="splash/android/drawable-mdpi/portrait.png" gap:platform="android" gap:density="mdpi" />
<gap:splash src="splash/android/drawable-hdpi/portrait.png" gap:platform="android" gap:density="hdpi" />
<gap:splash src="splash/android/drawable-xhdpi/portrait.png" gap:platform="android" gap:density="xhdpi" />
<!--<gap:splash src="splash/android/drawable-ldpi/landscape.png" gap:platform="android" gap:density="ldpi" />
<gap:splash src="splash/android/drawable-mdpi/landscape.png" gap:platform="android" gap:density="mdpi" />
<gap:splash src="splash/android/drawable-hdpi/landscape.png" gap:platform="android" gap:density="hdpi" />
<gap:splash src="splash/android/drawable-xhdpi/landscape.png" gap:platform="android" gap:density="xhdpi" />

<!--  Windows  -->



<author href="https://example.com" email="explorersucks@chromealltheway.com">
Tanner Dixon
</author>

</widget>
